<h2>Wybierz walutę oraz datę:</h2>
<form (ngSubmit)="onSubmit($event)">
  <label for="currencyCode">Kod waluty:</label>
  <select id="currencyCode" (change)="onCurrencyCodeChange($event)">
    <option>Wybierz walutę</option>
    <option *ngFor="let currencyCode of currencyCodes">{{ currencyCode }}</option>
  </select>

  <label for="sortRange">Zakres filtrowania:</label>
  <select id="sortRange" (change)="onDateRangeChange($event)">
    <option>Wybierz zakres filtrowania</option>
    <option *ngFor="let dateRange of dateRanges" [value]="dateRange">{{ dateRange }}</option>
  </select>

  <label for="date" *ngIf="selectedDateRange === 'Dzień' || selectedDateRange === 'Miesiąc'">Data:</label>
  <input id="date" type="date" (change)="onStartDateChange($event)" *ngIf="selectedDateRange === 'Dzień' || selectedDateRange === 'Miesiąc'">

  <label for="quarter" *ngIf="selectedDateRange === 'Kwartał'">Data:</label>
  <select id="quarter" (change)="onQuarterChange($event)" *ngIf="selectedDateRange === 'Kwartał'">
    <option>Wybierz kwartał</option>
    <option *ngFor="let quarter of quarters">{{ quarter }}</option>
  </select>

  <label for="year" *ngIf="selectedDateRange === 'Rok'">Data:</label>
  <select id="year" (change)="onYearChange($event)" *ngIf="selectedDateRange === 'Rok'">
    <option>Wybierz rok</option>
    <option *ngFor="let year of years">{{ year }}</option>
  </select>

  <br />
  <button type="submit">Wyświetl</button>
</form>
